@layer dp-base {
  body {
    --margin: 16px;
    --padding: 16px;
  }

  html,
  body,
  #app {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  html {
    font-size: 14px;
  }

  body {
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--ant-color-text-secondary);
    background-color: var(--ant-color-bg-container);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: var(--dp-font-family);
  }

  #app {
    width: 100vw;
    height: 100vh;
    overflow: auto;
  }

  ul {
    list-style: none !important;
    margin-bottom: 0;
  }

  a,
  a:focus,
  a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
  }
}
