body {
  --w-e-textarea-bg-color: var(--ant-color-bg-container);
  --w-e-textarea-color: var(--ant-color-text);
  --w-e-textarea-border-color: var(--ant-color-border);
  --w-e-textarea-slight-border-color: var(--ant-color-border-secondary);
  --w-e-textarea-slight-color: var(--ant-color-text-quaternary);
  --w-e-textarea-slight-bg-color: var(--ant-color-fill-tertiary);
  --w-e-textarea-selected-border-color: var(--ant-color-primary-border);
  --w-e-textarea-handler-bg-color: var(--ant-color-primary);
  --w-e-toolbar-color: var(--ant-color-text-secondary);
  --w-e-toolbar-bg-color: var(--ant-color-bg-container);
  --w-e-toolbar-active-color: var(--ant-color-text);
  --w-e-toolbar-active-bg-color: var(--ant-color-fill-secondary);
  --w-e-toolbar-disabled-color: var(--ant-color-text-quaternary);
  --w-e-toolbar-border-color: var(--ant-color-border-secondary);
  --w-e-modal-button-bg-color: var(--ant-color-fill-tertiary);
  --w-e-modal-button-border-color: var(--ant-color-border);
}
